
.restaurant-header-container {
    max-width: 1440px;
    height: 187px;
    background-image: url('../assets/images/header-restaurant.svg');
}

.teste a{
    display: flex;
    align-items: center;
    color: aliceblue;
    padding-top: 48px;
    padding-left: 198px;
}

.center-information {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.center-information-restaurant {
    color:aliceblue;
}

.restaurant-information {
    width: 1440px;

    padding: 30px 450px;
}

.restaurant-information h6 {
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */


/* Dark down */

color: #333333;
}

.restaurant-information .description {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 33px;

/* High Contrast */

color: #676666;
padding-bottom: 20px;
}

.restaurant-information .other-information {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}

.restaurant-information hr {
    margin-bottom: 20px;
}